/distrib1/nbproject/private/
/distrib1/build/
/distrib2server/nbproject/private/
/distrib2client/nbproject/private/
/distrib1/dist/
/distrib2server/build/
/distrib2server/dist/
/ComunicacaoLocadora/nbproject/private/
/ComunicacaoLocadora/build/
/ComunicacaoLocadora/dist/
/distrib2ComunicacaoLocadora/nbproject/private/
/distrib2client/build/
/distrib2ComunicacaoLocadora/build/
/distrib2ComunicacaoLocadora/dist/
/Relogio/nbproject/private/
/distrib2client/dist/
/distrib3webServer/nbproject/private/
/distrib3WebService/nbproject/private/
/distrib3WebService/build/